<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load bootstrap %}
<html>
<head>
    <title></title>
</head>
<body>
    <a href="{% url 'word:page' %}?tran_page={{ HOST }}static/django_docs/index.html">Django教程</a>
    <form class="form-horizontal" role="form" method="post" action="{% url "word:page" %}">
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" name="commitType" value="Submit" />
            </div>
        </div>
    </form>
</body>
</html>