{% load staticfiles %}
<html>
<head>
</head>
<body>
<html>
<head>
    <link href="/static/multi-select/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/static/multi-select/js/jquery.js" type="text/javascript"></script>
</head>


<body>
<a href="http://translate.google.cn/?hl=zh-CN&tab=wT#en/zh-CN/{{ cur_word }}">Google翻译 {{ cur_word }}</a>
<div class="span5">

    <a href='#' id='select-all'>select all</a>
    <a href='#' id='deselect-all'>deselect all</a>
    <a href='#' id='select-100'>select 100 elems</a>
    <a href='#' id='deselect-100'>deselect 100 elems</a>
    <a href='#' id='show-all'>show-all</a>
    <a href='#' id='commit-words'>提交</a>

    <select style="width=100px, height:1000px" id='public-methods' multiple='multiple'>
        {% for word,review_count in word_sort_list%}
            <option value='{{  word }}'>{{ word|ljust:5 }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ review_count }}</option>
        {% endfor %}
    </select>

    <script src="/static/multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
    <script>
        var conversant_words = []
        var UNACQUAINTED = ''

        $('#public-methods').multiSelect({
            afterSelect: function(values){
                values = values.toString();
                conversant_words.push(values);
            },
            afterDeselect: function(values){
                values = values.toString();
                del_idx = conversant_words.indexOf(values);
                delete conversant_words[del_idx];
            }
        });

        $('#select-all').click(function () {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#select-100').click(function () {
            $('#public-methods').multiSelect('select', ['elem_0', 'elem_1', 'elem_99']);
            return false;
        });
        $('#deselect-100').click(function () {
            $('#public-methods').multiSelect('deselect', ['elem_0', 'elem_1', 'elem_99']);
            return false;
        });
        $('#refresh').on('click', function () {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function () {
            $('#public-methods').multiSelect('addOption', {value: 42, text: 'test 42', index: 0});
            return false;
        });

        $('#show-all').click(function () {
//            alert(conversant_words.toString());
            var set_word_status_url = "/word/set_word_status?words=" + conversant_words
            alert(set_word_status_url);
           $.get(set_word_status_url, function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
            });
        });
        $('#commit-words').click(function () {
            var set_word_status_url = "/word/set_word_status?conversant_words=" + conversant_words
            alert_msg = "您是否要提交" + conversant_words + "为熟词?"
            if (confirm(alert_msg) == true) {
                $.get(set_word_status_url, function(data, status){
                    alert_msg = data.result;
                    alert(alert_msg);
                });
            }

        });

    </script>
</body>
</html>