.tran{
    text-align:left;
    color: #000000;
}
.translate_part{
    margin-left: 1px;
}

.translate_mean{
    margin-left: 10px;
}

.tran_link{
    color: #FFDAB9;
}

.popbox {
  margin:0px auto;
  text-align:center;
  position:relative;
  background: red;
  z-index: 10000000
  /*width: 350px;*/
}



    .MYBOX_XODKFJS {
      display:block;
      display:none;
      background:#668B8B;
      border:solid 1px #BBBBBB;
      border-radius:5px;
      box-shadow:0px 0px 15px #999;
      position:absolute;
      width: 350px;
    }


