.tran{
    text-align:left;
    color: #000000;
}
.translate_part{
    margin-left: 1px;
}

.translate_mean{
    margin-left: 10px;
}

.tran_link{
    color: #FFDAB9;
}

.jump_link{
    color: #FFDAB9;
}

.popbox {
  margin:0px auto;
  text-align:center;
  position:relative;
  background: red;
  z-index: 10000000
  /*width: 350px;*/
}

.hide {
    display: none;
}

.show {
    display: block;
}


