{% extends "recall/base.html" %}
{% load bootstrap %}
{% block title %}淘生词{% endblock %}
{% block content %}


<div class="container">

      <div class="row">
        <div class="col-lg-8">
          <h3>关于软件来由</h3>
            <pre>
作者我是一名记忆力比较差的程序员，单词老是记不住，但是在工作时不可避免
要看一些英文文档，访问一些英文网站，怎么办? 于是这个插件诞生了。
希望大家有什么问题与建议及时与我沟通，我的邮箱是262708239@qq.com

版本更新信息:
* v2.1 更新时间 2016.7.30
  更新功能:
    1) 页面改版
    2) 插件取消原有的用户密码登陆模式, 采用了网站登陆
    3) 添加了我的管理页面, 快速添加生词
    4) 添加了管理需要翻译的网页功能
    5) 添加配置 "是否总是翻译网页"

            </pre>

        </div>
      </div>

</div>
  <script>
      $('#about').addClass("active")
  </script>
{% endblock %}