{% extends "recall/base.html" %}
{% load bootstrap %}
{% block title %}淘生词{% endblock %}
{% block content %}


<div class="container">

      <div class="row">
        <div class="col-lg-8">
          <h3>关于软件来由</h3>
            <p>作者我是一名记忆力比较差的程序员，单词老是记不住，但是在工作时不可避免</p>
            <p>的要看一些英文文档，访问一些英文网站，但是经常碰到不认识的单词，怎么办?</p>
            <p>于是这个插件诞生了。希望大家有什么问题与建议及时与我沟通，我的邮箱是262708239@qq.com</p>
        </div>
      </div>

</div>
  <script>
      $('#about').addClass("active")
  </script>
{% endblock %}