{% extends "recall/base.html" %}
{% load bootstrap %}
{% block title %}淘生词{% endblock %}
{% block content %}


<div class="container">

      <div class="row">
        <div class="col-lg-8">
          <h3>关于软件来由</h3>
            <pre>
作者我是一名记忆力比较差的程序员，单词老是记不住，但是在工作时不可避免
要看一些英文文档，访问一些英文网站，怎么办? 于是这个插件诞生了。
希望大家有什么问题与建议及时与我沟通，我的邮箱是262708239@qq.com
            </pre>

        </div>
      </div>

</div>
  <script>
      $('#about').addClass("active")
  </script>
{% endblock %}