
<!DOCTYPE html>
<html>
<head>
<title>{% block title %} 主页 {% endblock %}</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="static/js/jquery.min.js"></script>
<link href='http://fonts.useso.com/css?family=Amaranth:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Signika+Negative:300,400,600,700|Amaranth:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
{% block head_scripts %}{% endblock %}
<body>
<!--header starts-->
<div class="header">
	 <div class="container">
	     <div class="top-header">
			 <div class="logo">
				 	<a href="index.html"><img src="static/images/logo.png" alt="" /></a>
			 </div>
			 <div class="top-menu">
				<span class="menu"> </span>
				<ul>
					 <li class="active"><span class="pic1"></span><a href="/">主页</a></li>
					 <li><span class="pic3"></span><a href="{% url 'word:frequency' %}">管理我的词库</a></li>
					 <li><span class="pic4"></span><a href="{% url 'word:contact' %}">与我联系</a></li>
                     <li><span class="pic2"></span>
                        {% if user.is_authenticated %}
                            <a href="{% url 'word:logout' %}">注销</a>
                        {% else %}
                            <a href="{% url 'word:login' %}">登陆</a>
                        {% endif %}
                    </li>


   					  <div class="clearfix"></div>
				 </ul>
				  <!--script-nav-->
				 <script>
				 $("span.menu").click(function(){
				 $(".top-menu ul").slideToggle("slow" , function(){
				 });
				 });
				 </script>
				 <!--script-nav-->
			 </div>
			 <div class="clearfix"></div>
		  </div>
	 </div>
      <!--<div class="header-banner">-->
		     <!--<script src="static/js/responsiveslides.min.js"></script>-->
		     <!--<script>-->
			 <!--$(function () {-->
			  <!--$("#slider").responsiveSlides({-->
				<!--auto: true,-->
				<!--nav: true,-->
				<!--speed: 500,-->
				<!--namespace: "callbacks",-->
				<!--pager: true,-->
			  <!--});-->
			 <!--});-->
			 <!--</script>-->
			  <!--<div class="container2">-->
				 <!--<div class="slider">-->
				     <!--<div class="callbacks_container">-->
						 <!--<ul class="rslides" id="slider">-->
						 <!--<li>-->
							<!--<div class="sale-box">-->
							<!--<span class="on_sale title_shop">NEW</span>-->
							<!--</div>-->
						  <!--<img src="static/images/bnr1.jpg" alt="">-->
						  <!--<div class="caption">-->
							<!--<h1>Minto</h1>-->
							<!--<p>Lorem ipsum dolor elit has been the industry's standard dummy text.</p>-->
						  <!--</div>-->
						   <!--</li>-->
						 <!--<li>-->
						 <!--<div class="sale-box">-->
							<!--<span class="on_sale title_shop">NEW</span>-->
							<!--</div>-->
						  <!--<img src="static/images/bnr2.jpg" alt="">-->
							 <!--<div class="caption">-->
							 <!--<h1>Lorem</h1>-->
							<!--<p>Lorem ipsum dolor elit has been the industry's standard dummy text.</p>-->
							 <!--</div>-->
						 <!--</li>-->
						 <!--<li>-->
						 <!--<div class="sale-box">-->
							<!--<span class="on_sale title_shop">NEW</span>-->
							<!--</div>-->
						  <!--<img src="static/images/bnr3.jpg" alt="">-->
						  <!--<div class="caption">-->
							 <!--<h1>Amarture</h1>-->
							 <!--<p>Lorem ipsum dolor elit has been the industry's standard dummy text.</p>-->
						  <!--</div>-->
						 <!--</li>-->
						  <!--</ul>-->
							<!--</div>-->
					 <!--</div>-->
			     <!--</div>-->
			 <!--</div>-->
</div>
<!--header ends-->
<!--<div class="container">-->
	 <!--<div class="banner-content">-->
	 <!--<p><span>Lorem ipsum dolor sit amet, </span>consectetur adipisicing elit, sed do eiusmod quis nostrud exercitation ullamco laboris nisi ut aliquip tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim-->
	 <!--ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
	 <!--</div>-->
<!--</div>-->
<!--content-->
<div class="content">
	 <div class="container">
	 <!--<div class="col-md-5 contact-img">-->
	 <!--<img src="images/contact.jpg" alt="">-->
	 <!--</div>-->
	 <!--<div class="col-md-7 contact-info">-->
         <!--<h3>Lorem ipsum dolor sit amet</h3>-->
	 <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.-->
		<!--Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,-->
		<!--sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>-->
		<!--<a href="#">Read more<span></span></a>-->
	 <!--</div>-->
     {% block content %} content... {% endblock %}

	 <div class="clearfix"></div>
	 </div>
</div>

<!--content/-->
<div class="featured">
	 <div class="container">
		 <h3><span>Where </span>We Have Been Featured</h3>
		 <div class="line"></div>
			<div class="clearfix"></div>
	 </div>
</div>
<!---->
<div class="brands">
	 <div class="container">
	 <ul class="brand-list">
		 <li><a href="#"><img src="static/images/s1.png" alt=""></a></li>
		 <li><a href="#"><img src="static/images/s2.png" alt=""></a></li>
		 <li><a href="#"><img src="static/images/s3.png" alt=""></a></li>
		 <li><a href="#"><img src="static/images/s4.png" alt=""></a></li>
	 </ul>
	 <div class="clearfix"></div>
	 </div>
</div>
<!---->
<div class="fotter">
	 <div class="container">
		 <p class="copyright">Copyright &copy; 2015.  likangwei.com.</p>
		 <div class="social-icons">
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>


</body>
</html>