{% extends "recall/base.html" %}
{% load bootstrap %}
{% block title %}搜索{% endblock %}
{% block content %}


<div class="container">


    <div class="row">
        <div class="span12">
            <p>欢迎回来，{{ user }}! </p>
            <strong><a href="/static/download/taoshengci.zip">下载Chrome插件</a></strong>
            <br/>
            <br/>
            <p>我们会帮您快速找出生词。</p>
            <p>生词变色显示，鼠标放上去可以显示单词意思.</P>
            <p>点击生词可以加入熟词库.</p>
            <br>
            <br>
            <p>使用方法: 打开chrome浏览器，地址栏中输入 chrome://extensions/ 后回车，将解压出来的crx文件拖到浏览器中即可使用。</p>
        </div>
    </div>
    <div>
        <embed src="http://player.youku.com/player.php/sid/XMTQzNTk0NjAyNA==/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    </div>

</div>
{% endblock %}