<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/jquery.min.js"></script>
<link href='http://fonts.useso.com/css?family=Amaranth:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Signika+Negative:300,400,600,700|Amaranth:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!---->
<div class="header">
	 <div class="container">
	     <div class="top-header">
			 <div class="logo">
				 	<a href="index.html"><img src="images/logo.png" alt="" /></a>
			 </div>
			 <div class="top-menu">
				<span class="menu"> </span>
				<ul>
					 <li><span class="pic1"></span><a href="index.html">Home</a></li>
					 <li><span class="pic2"></span><a href="about.html">About Us</a></li>
					 <li class="active"><span class="pic3"></span><a href="service.html">Services</a></li>
					 <li><span class="pic4"></span><a href="contact.html">Contact Us</a></li>
						<div class="clearfix"></div>
				 </ul>
				 <!--script-nav-->
				 <script>
				 $("span.menu").click(function(){
				 $(".top-menu ul").slideToggle("slow" , function(){
				 });
				 });
				 </script>
				 <!--script-nav-->
			 </div>
		  </div>
	 </div>
</div>
<!-- Services -->
					<div class="services">					
						<div class="container">
						<h1>Services</h1>
							<div class="services-grids">
								<div class="col-md-9 services-left">									
									<div class="services-left-grids">
										<div class="col-md-6 services-left-grid">
											<h3>Service Name</h3>
											<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur.</p>
											<a class="more-btn" href="#">More</a>
										</div>
										<div class="col-md-6 services-left-grid">
											<h3>Service Name</h3>
											<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur.</p>
											<a class="more-btn" href="#">More</a>
										</div>
										<div class="col-md-6 services-left-grid">
											<h3>Service Name</h3>
											<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur.</p>
											<a class="more-btn" href="#">More</a>
										</div>
										<div class="col-md-6 services-left-grid">
											<h3>Service Name</h3>
											<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur.</p>
											<a class="more-btn" href="#">More</a>
										</div>
										<div class="col-md-6 services-left-grid">
											<h3>Service Name</h3>
											<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur.</p>
											<a class="more-btn" href="#">More</a>
										</div>
										<div class="col-md-6 services-left-grid">
											<h3>Service Name</h3>
											<p>Aenean iaculis, tortor sit amet molestie fringilla, sapien elit interdum mauris, sed cursus dui felis nec nisi. Nam vitae efficitur.</p>
											<a class="more-btn" href="#">More</a>
										</div>
										<div class="clearfix"> </div>
										<ul class="pagenation">
											<li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-3 services-right">
									<h3>Recent-Services</h3>
									<ul>
										<li><a href="#"><span> </span>tortor sit amet molestie fringilla</a></li>
										<li><a href="#"><span> </span>packages and web page editors</a></li>
										<li><a href="#"><span> </span>desktop publishing packages</a></li>
										<li><a href="#"><span> </span>tweb page editors now use</a></li>
										<li><a href="#"><span> </span>opposed to using Many desktop</a></li>
										<li><a href="#"><span> </span>Many desktop publishing</a></li>
										<li><a href="#"><span> </span>packages and web page editors</a></li>
										<li><a href="#"><span> </span>desktop publishing packages</a></li>
										<li><a href="#"><span> </span>tweb page editors now use</a></li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
<!-- Services -->
<div class="featured">
	 <div class="container">
		 <h3><span>Where </span>We Have Been Featured</h3>
		 <div class="line"></div>
			<div class="clearfix"></div>
	 </div>
</div>
<!---->
<div class="brands">
	 <div class="container">
	 <ul class="brand-list">
		 <li><a href="#"><img src="images/s1.png" alt=""></a></li>
		 <li><a href="#"><img src="images/s2.png" alt=""></a></li>
		 <li><a href="#"><img src="images/s3.png" alt=""></a></li>
		 <li><a href="#"><img src="images/s4.png" alt=""></a></li>
	 </ul>
	 </div>
</div>
<!---->
<div class="fotter">
	 <div class="container">
		 <p class="copyright">Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		 <div class="social-icons">
		 <a href="#"><span class="facebook"> </span></a>
		 <a href="#"><span class="twitter"> </span></a>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>